body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin-top: 50px;
    background: url(../img/3326663.jpg);
    background-size: cover;
}

.login-container {
    max-width: 400px;
    margin: 50% auto;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-check-label {
    font-weight: 500;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
}
.log{
    border: 5px #007bff solid;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 15px;
    align-items: center;
    left: 50%;
    justify-items: center;

}